name: SonarCloud Scan
on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./front

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: install scanner
        run: npm install -g sonarqube-scanner

      - name: run sonar scanner
        run: sonar-scanner -Dsonar.token=${{secrets.SONAR_TOKEN}}
